<div class="todo-header">
  <h1>Todo List</h1>
</div>

<main class="todo-container">
  <div class="add-task">
    <input [(ngModel)]="newTask" placeholder="Enter new Task" />
    <button (click)="addTask()">Add</button>
  </div>
  <div>
    <ul class="task-list">
      <li
        *ngFor="let todoitem of todoList; let i = index"
        [ngClass]="{ complete: todoitem.completed }"
      >
        <input
          type="checkbox"
          [(checked)]="todoitem.completed"
          (change)="toggleComplete(i)"
        />
        <span [class.complete]="todoitem.completed">{{ todoitem.task }}</span>
        <button (click)="deleteTask(todoitem.id)">Delete</button>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>
</main>
<div class="todo-footer">
  <span>&#64;</span>Copyright-SakshiGhardale-2025
  <br />
  ghardalesakshi<span>&#64;</span>gmail.com
</div>
